@import url(https://fonts.googleapis.com/css?family=Roboto:400,300italic,500,700);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #122633;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
}

#kapsa {
  width: 100%;
  max-width: 800px;
  margin: 15px auto 15px auto;
  opacity: 0.9;
}

#ust {
  background: #CEF3DD;
  height: 30px;
  line-height: 30px;
  border-radius: 15px 15px 0 0;
  padding-right: 10px;
  padding-left: 14px;
}

#baslik {
  display: inline-block;
  color: darkslategrey;
}

#islem {
  float: right;
}

#y {
  background: #03d544;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  display: inline-block;
  margin: 0 2px;
  cursor: pointer;
}

#s {
  background: #ffbe03;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  display: inline-block;
  margin: 0 2px;
  cursor: pointer;
}

#k {
  background: #ff4545;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  display: inline-block;
  margin: 0 2px;
  cursor: pointer;
}

/* Orta Kısım */

#no {
  width: 41px;
  background: #263238;
  text-align: right;
  padding: 7px 10px 7px 0;
  float: left;
  color: #cdd3de;
}

.numara {
  display: block;
}

#satir {
  background: #1B2225;
  color: #cdd3de;
  display: inline-block;
  padding: 7px 10px;
  width: calc(100% - 41px);
}

.ozellik {
  color: #00c817;
}


#alt {
  background: #CEF3DD;
  height: 30px;
  line-height: 30px;
  border-radius: 0 0 15px 15px;
  padding-right: 10px;
  text-align: center;
}

.temizle {
  clear: both;
}

* {
  box-sizing: border-box;
}

input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #00c817;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #1B2225;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.beyaz {
  width: 100%;
  max-width: 800px;
  opacity: 0.9;
  color: #00c817;
  background: #1B2225;
  display: inline-block;
  clear: both;
  width: calc(100% - 41px);
}